[submodule "docs/morgen-dev-docs"]
	path = docs/morgen-dev-docs
	url = https://github.com/morgen-so/morgen-dev-docs.git

[submodule "docs/fastmcp"]
	path = docs/fastmcp
	url = https://github.com/jlowin/fastmcp.git
	shallow = true
